button{
    background-color: #e50914;
    color: #ffffff;
}
button:hover{
    opacity: 0.9;
    background-color: #e50914;
    color: #ffffff;
}
.search-result-container{
    padding: 0 100px;
}
.contain{
    padding: 0 100px;
    margin: 120px 0px 20px;
}